<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.2.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    {{> header}}
    <div>
        <div class="h-[40rem] mx-16 border-2 rounded-3xl overflow-hidden">
            <img class="object-fill w-full h-full"
                src="https://noonnu.cc/assets/noon-0e36f3deb9d903ceec1946f9253c7dea1cd629ef8e2f1fc14ec2995aa7421b69.jpg"
                alt="미리보기" />
        </div>
        <div class="w-3/4 mx-auto mt-8 font-black text-center text-6xl">
            독일 의대생이 말하는 독일 교실의 토론 교육
        </div>
        <div class="w-1/2 mx-auto mt-8 text-center text-[1.3rem]">
            2022 지자체 선거를 앞둔 시기, 전국 교육감 후보들 사이에 'IB 도입 공약'이 화두가 됐습니다. 2022 지자체 선거를 앞둔 시기, 전국 교육감 후보들 사이에 'IB 도입 공약'이 화두가
            됐습니다. 2022 지자체 선거를 앞둔 시기, 전국 교육감 후보들 사이에 'IB 도입 공약'이 화두가 됐습니다. 2022 지자체 선거를 앞둔 시기, 전국 교육감 후보들 사이에 'IB 도입
            공약'이 화두가 됐습니다. 2022 지자체 선거를 앞둔 시기, 전국 교육감 후보들 사이에 'IB 도입 공약'이 화두가 됐습니다. 2022 지자체 선거를 앞둔 시기, 전국 교육감 후보들 사이에
            'IB 도입 공약'이 화두가 됐습니다. 2022 지자체 선거를 앞둔 시기, 전국 교육감 후보들 사이에 'IB 도입 공약'이 화두가 됐습니다. 2022 지자체 선거를 앞둔 시기, 전국 교육감
            후보들 사이에 'IB 도입 공약'이 화두가 됐습니다.
        </div>
        <div class="w-1/2 mx-auto mt-10 flex justify-center">
            <div class="font-bold truncate">
                anothertinking
            </div>
            <div>
                &nbsp;&nbsp;|&nbsp;&nbsp;
            </div>
            <div class="truncate">
                2022-07-28
            </div>
            <div>
                &nbsp;&nbsp;|&nbsp;&nbsp;
            </div>
            <button onclick="">
                댓글 남기기
            </button>
        </div>
        <div class="w-1/2 mx-auto mt-10">
            독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의
            나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도
            과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이
            아닙니다. 
            <br />
            <br />
            독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다.
            독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의
            나라라 해도 과언이 아닙니다. 
            <br />
            <br />
            독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도
            과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이
            아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다.
            독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의
            나라라 해도 과언이 아닙니다. 
            <br />
            <br />
            독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도
            과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이
            아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다.
            독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다. 독일은 토론의 나라라 해도 과언이 아닙니다.
        </div>
        <div class="w-1/2 h-[30rem] mx-auto mt-5 border-2 overflow-hidden">
            <img class="object-fill w-full h-full"
                src="https://noonnu.cc/assets/noon-0e36f3deb9d903ceec1946f9253c7dea1cd629ef8e2f1fc14ec2995aa7421b69.jpg"
                alt="미리보기" />
        </div>
        {{> footer}}
    </div>
</body>
</html>