<div class="w-3/4 mx-auto flex mt-4">
    <ul class="w-full md:flex">
      <li class="me-4">
        <input type="radio" id="all" name="selectCategory" value="all" class="hidden peer" checked>
        <label for="all"
          class="inline-flex items-center justify-between w-full px-4 py-2.5 text-gray-400 bg-white border-2 border-gray-200 rounded-3xl cursor-pointer dark:peer-checked:text-white dark:bg-gray-900 dark:peer-checked:border-white peer-checked:border-black peer-checked:text-black">
          <div class="w-full text-sm text-center font-semibold truncate">전체보기</div>
        </label>
      </li>
      <li class="me-4">
        <input type="radio" id="category1" name="selectCategory" value="category1" class="hidden peer">
        <label for="category1"
          class="inline-flex items-center justify-between w-full px-4 py-2.5 text-gray-400 bg-white border-2 border-gray-200 rounded-3xl cursor-pointer dark:peer-checked:text-white dark:bg-gray-900 dark:peer-checked:border-white peer-checked:border-black peer-checked:text-black">
          <div class="w-full text-sm text-center font-semibold truncate">카테고리</div>
        </label>
      </li>
      <li class="me-4">
        <input type="radio" id="category2" name="selectCategory" value="category2" class="hidden peer">
        <label for="category2"
          class="inline-flex items-center justify-between w-full px-4 py-2.5 text-gray-400 bg-white border-2 border-gray-200 rounded-3xl cursor-pointer dark:peer-checked:text-white dark:bg-gray-900 dark:peer-checked:border-white peer-checked:border-black peer-checked:text-black">
          <div class="w-full text-sm text-center font-semibold truncate">카테고리</div>
        </label>
      </li>
      <li class="me-4">
        <input type="radio" id="category3" name="selectCategory" value="category3" class="hidden peer">
        <label for="category3"
          class="inline-flex items-center justify-between w-full px-4 py-2.5 text-gray-400 bg-white border-2 border-gray-200 rounded-3xl cursor-pointer dark:peer-checked:text-white dark:bg-gray-900 dark:peer-checked:border-white peer-checked:border-black peer-checked:text-black">
          <div class="w-full text-sm text-center font-semibold truncate">카테고리</div>
        </label>
      </li>
      <li class="me-4">
        <input type="radio" id="category4" name="selectCategory" value="category4" class="hidden peer">
        <label for="category4"
          class="inline-flex items-center justify-between w-full px-4 py-2.5 text-gray-400 bg-white border-2 border-gray-200 rounded-3xl cursor-pointer dark:peer-checked:text-white dark:bg-gray-900 dark:peer-checked:border-white peer-checked:border-black peer-checked:text-black">
          <div class="w-full text-sm text-center font-semibold truncate">카테고리</div>
        </label>
      </li>
    </ul>
  </div>