<div class="h-16 flex justify-between items-center px-12 sticky top-0 bg-white z-10 dark:bg-gray-900">
  {{!-- 메인페이지는 / 일 것이라 가정하고 로고를 클릭하면 메인페이지로 이동하게 했습니다 --}}
  <a href="/"><button class="hidden md:flex dark:text-white">LOGO</button></a>
  <div class="grid-row-2 justify-center md:flex md:gap-4">
    <button class="font-semibold text-xs md:text-sm truncate dark:text-white">Home</button>
    <button class="font-semibold text-xs md:text-sm truncate dark:text-white">About</button>
    <button class="font-semibold text-xs md:text-sm truncate dark:text-white">
      엄마표 토론 랩
    </button>
    <button class="font-semibold text-xs md:text-sm truncate dark:text-white">소통&공감 랩</button>
    <button class="font-semibold text-xs md:text-sm truncate dark:text-white">독일교육 랩</button>
    <button class="font-semibold text-xs md:text-sm truncate dark:text-white">한 줄 토론</button>
    <button class="font-semibold text-xs md:text-sm truncate dark:text-white">로그인</button>
    <button class="text-xs md:text-sm text-white bg-violet-950 rounded-3xl px-2 py-1 truncate">
      유료 구독하기
    </button>
    <button id="theme-toggle" type="button"
      class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
      <svg id="theme-toggle-dark-icon" class="w-5 h-5 hidden" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
      </svg>
      <svg id="theme-toggle-light-icon" class="w-5 h-5 hidden" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
          fill-rule="evenodd" clip-rule="evenodd"></path>
      </svg>
    </button>
    <button class="dark:invert">
      <svg xmlns="http://www.w3.org/2000/svg" height="1em"
        viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path
          d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
      </svg>
    </button>
    <div>
    </div>
  </div>
</div>